
@{
    ViewBag.Title = "Index";
}

@*<div class="row">*@
    <div class="col-lg-12">
        <h2 style="color:orangered;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align:center;">Welcome!!! To Mini Paint Store</h2>

        </div>
       